<hr/>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Search</div>
        <div class="panel-body">
            <h5><strong>Teams</strong></h5>
            <select class="form-control" ng-model="criteria.selectedTeam" ng-options="t.value as t.label for t in ttteams" placeholder="Select a team" ng-change="teamChanged()"></select>
            <h5><strong>Divisions</strong></h5>
            <select class="form-control" ng-model="criteria.selectedDivision" ng-options="t.value as t.label for t in ttdivisions" placeholder="Select a division"></select>
            <h5><strong>Weeks</strong></h5>
            <select class="form-control" ng-model="criteria.selectedWeek" ng-options="t.value as t.label for t in ttweeks" placeholder="Select a week"></select>
        </div>
        <button class="btn btn-primary btn-md btn-block" ng-click='go()' ng-disabled='invalidCriteria()'>Matches</button>
    </div>
</div>
