<hr/>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Game</div>
        <div class="panel-body">
            <h5><strong>Game : {{criteria.selectedGame}}</strong></h5>
            <table class="table table-striped">
                <tr ng-show="games.length==0">
                    <td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td>
                </tr>
                <tr ng-hide="games.length>-1">
                    <td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td>
                </tr>
                <tr ng-repeat="g in games | orderBy:'matchid'" id="{{g.matchid}}" animate-on-change='g.matchid + g.hometeam + g.awayteam + g.score' ng-animate="'animate'">
                    <td>{{g.hometeam}}</td>
                    <td>{{g.awayteam}}</td>
                    <td>{{g.score}}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>                
                <tr ng-repeat="m in games[0].matches" id="{{m.position}}" animate-on-change='m.homeplayer + m.homeranking + m.awayplayer + m.awayranking + m.score' ng-animate="'animate'">
                    <td>{{m.homeplayer}} ({{m.homeranking}})</td>
                    <td>{{m.awayplayer}} ({{m.awayranking}})</td>
                    <td>{{m.score}}</td>
                </tr>
            </table>
        </div>
        <button class="btn btn-primary btn-md" ng-click='back()'>Matches</button>
        <button class="btn btn-primary btn-md" ng-click='home()'>Search</button>  
    </div>
</div>